<div class="container">
<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Homeschool Helper</mat-card-title>
      <mat-card-subtitle>Angular - .Net Core</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/hh-screenshot.png" alt="Screenshot of homeschool helper app.">
    <mat-card-content>
      <p class="description">
        Homeschool Helper is an app that I created to record school hours for those who homeschool.
        The backend was created with C# and ASP.NET Core. The frontend was made with Angular 9 and Angular Material.
      </p>

      <div class="feature-list">
        <strong>Features</strong>
        <ul>
            <li>
                Export recorded hours to PDF
            </li>
            <li>
                Record homeschool hours by customizable subjects.
            </li>
            <li>
                Data chart to visualize the weekly hours for each student.
            </li>
        </ul>
        </div>
        
    </mat-card-content>
    
    <mat-card-actions>
    <mat-divider></mat-divider>
    <span class="card-links">
      <a mat-button color="primary" href="https://github.com/Zemeus/HomeschoolHelper" target="_blank"><mat-icon>code</mat-icon>Angular Code</a>
      <a mat-button color="primary" href="https://github.com/Zemeus/HomeschoolHelperBackend" target="_blank"><mat-icon>code</mat-icon>ASP.NET Code</a>
      <a mat-button color="accent" href="https://homeschoolhelper.andrewhughes.tech" target="_blank"><mat-icon>open_in_new</mat-icon> View Site</a>
    </span>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Band Website (Outcome of Betrayal)</mat-card-title>
      <mat-card-subtitle>HTML - CSS - JS - Bootstrap 4</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/band-screenshot.png" alt="Screenshot of Outcome of Betrayal band website.">
    <mat-card-content>
      <p class="description">
        This is a website that I made using HTML5, CSS, Javascript, and Bootstrap 4. 
        It was for a band named Outcome of Betrayal and included their youtube videos 
        and used the Spotify API.
      </p>
      <br>
      <div class="feature-list">
        <strong>Features</strong>
        <ul>
            <li>
                Spotify API, Facebook Like button.
            </li>
            <li>
                Made from scratch using Bootstrap 4.
            </li>
        </ul>
        </div>
        
    </mat-card-content>
    
    <mat-card-actions>
    <mat-divider></mat-divider>
    <span class="card-links">
      <a mat-button color="primary" href="https://github.com/Zemeus/Outcome_of_Betrayal_Site" target="_blank"><mat-icon>code</mat-icon>View Code</a>
      <a mat-button color="accent" href="https://outcome.andrewhughes.tech" target="_blank"><mat-icon>open_in_new</mat-icon> View Site</a>
    </span>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
      <mat-card-title>My Other Shoelace</mat-card-title>
      <mat-card-subtitle>PHP - Wordpress - HTML5 - CSS</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/mos-screenshot.png" alt="Screenshot of homeschool helper app.">
    <mat-card-content>
      <p class="description">
        My Other Shoelace is a Wordpress blog. I designed the entire website including the logo and a custom theme from scratch. 
      </p>
      <br><br>
      <div class="feature-list">
        <strong>Features</strong>
        <ul>
            <li>
                Created custom design and Wordpress theme.
            </li>
            <li>
                Integrated with owner's social media and utilized api to easily share on various platforms.
            </li>
        </ul>
        </div>
        
    </mat-card-content>
    
    <mat-card-actions>
    <mat-divider></mat-divider>
    <span class="card-links">
      <a mat-button color="accent" href="https://myothershoelace.com" target="_blank"><mat-icon>open_in_new</mat-icon> View Site</a>
    </span>
    </mat-card-actions>
</mat-card>
</div>