<aside class="profile-card">
<header>
    <a routerLink="/">
    <img src="../../assets/profile.jpg" class="hoverZoomLink">
    </a>

    <h1>
        Andrew Hughes
    </h1>

    <h2>
        Developer
    </h2>

</header>

<div class="profile-info">
    <span class="contact">
        <span class="list-item">
            <mat-icon>mail</mat-icon> <a class="link" href="mailto:andrewhughes1988@gmail.com">andrewhughes1988@gmail.com</a>
        </span>
        <span class="list-item">
            <mat-icon>phone</mat-icon> <a class="link" href="tel:636-284-1343">636-284-1343</a>
        </span>
        <span class="list-item">
            <mat-icon>code</mat-icon> <a class="link" href="https://github.com/Zemeus/">Github</a>
        </span>
    </span>

</div>


</aside>