<div class="toolbar" role="banner">
 
  <span class="logo">AH</span>
  <div class="spacer"></div>
  <span class="nav-links">
    <span class="link" routerLink="/">home</span>
    <span class="link" routerLink="/projects">projects</span>
    <span class="link" routerLink="/contact">contact</span>
  </span>

  <button id="mobile-menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="mobile menu">
    <div class="menu">
      <span class="menu__icon">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </span>     
  </div>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigate_home()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="navigate_projects()">
      <mat-icon>code</mat-icon>
      <span>Projects</span>
    </button>
    <button mat-menu-item (click)="navigate_contact()">
      <mat-icon>mail</mat-icon>
      <span>Contact</span>
    </button>
  </mat-menu>
</div>

<div class="content" role="main">

  <router-outlet></router-outlet>


</div>



